body {
	
}
#download-link {
	width: 700px;
}

div.jumbotron {
	background-image: url(../img/battle_droid.png);
	background-position: bottom right;
	background-size: 20%;
	background-repeat: no-repeat;
}

#console {
	min-height: 300px;
	
}	