$mahogany: #402D1C;
$fossil: #897962;
$sea: #004852;

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center {
    @extend .flex-center;
    flex-direction: column;
}

body {
    background: $fossil url(../img/battle_droid.png) no-repeat bottom 50px right;
    background-size: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    position: relative;

    /** Global rules **/
    button {
        background: $sea;
        color: #ffffff;
        border: none;
        font-size: 18px;
    }

    input {
        width: 80%;
        border: none;
        padding: 5px 10px;
        margin: 5px 0;
        font-size: 16px;
        outline: none;
        color: $mahogany;
    }

    /** **/
    header, footer {
        @extend .flex-center;
        background: $mahogany;
        width: 100%;
    }

    header {
        font-size: 20px;
        height: 80px;

        .window-controls {
            position: fixed;
            top: 0;
            right: 10px;
            font-size: 0;
            div {
                background: rgba(255,255,255,0.5) no-repeat center center;
                background-size: 40%;
                width: 30px;
                height: 20px;
                display: inline-block;
                opacity: 0.5;
                &:hover {
                    background-color: rgba(255,255,255,0.3);
                    opacity: 0.9;
                }
                &#minimize {
                    background-image: url(../img/minus.svg);
                }
                &#maximize {
                    background-image: url(../img/expand.svg);
                }
                &#unmaximize {
                    background-image: url(../img/contract.svg);
                    display: none;
                }
                &#close {
                    background-image: url(../img/close.svg);
                }
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        font-size: 12px;
        height: 50px;
    }

    #download_form, #download_info {
        @extend .flex-column-center;
        height: calc(100% - 80px - 50px - 20px); // 100% - header - footer - padding
        justify-content: flex-start;
        padding: 10px;
    }

    #download_form {
        position: relative;
        #download_btn {
            background: $sea url(../img/play.svg) no-repeat left 10px center;
            background-size: 25px;
            padding: 10px 20px 10px 50px;
            &:hover {
                background-color: #003A44;
            }
        }
        &.file_hover {
            .drop_torrent {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.85);
            }
        }
        .drop_torrent {
            @extend .flex-center;
            background: rgba(0,0,0,0.7);
            padding: 20px;
            border-radius: 20px;
            border: rgba(255,255,255,0.5) 2px dashed;
            box-sizing: border-box;
        }
    }

    #download_info {
        display: none;

        .progress {
            width: 90%;
            height: 30px;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            margin: 10px;

            .bar, .percent {
                @extend .flex-center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .bar {
                width: 0;
                background: green;
            }
        }
        .controls {
            @extend .flex-center;
            button {
                background: $sea no-repeat left 10px center;
                background-size: 25px;
                padding: 10px 20px 10px 50px;
                &:hover {
                    background-color: #003A44;
                }
            }
            #stop_download {
                background-image: url(../img/stop.svg);
            }
            #pause_download {
                background-image: url(../img/pause.svg);
            }
            #resume_download {
                display: none;
                background-image: url(../img/play.svg);
            }
        }
    }

    ul.filelist, #filelist_toggle {
        width: 90%;
    }

    ul.filelist {
        display: none;
        list-style: none;
        li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
        }
    }
}