$mahogany: #402D1C;
$fossil: #897962;
$sea: #00626B;

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center {
    @extend .flex-center;
    flex-direction: column;
}

body {
    background: $fossil url(../img/battle_droid.png) no-repeat bottom 50px right;
    background-size: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    position: relative;

    /** Global rules **/
    button {
        background: $sea;
        color: #ffffff;
        border: none;
        font-size: 18px;
        padding: 10px 20px;
    }

    input {
        width: 80%;
        border: none;
        padding: 5px 10px;
        margin: 5px 0;
        font-size: 16px;
        outline: none;
        color: $mahogany;
    }

    /** **/
    header, footer {
        @extend .flex-center;
        background: $mahogany;
        width: 100%;
    }

    header {
        font-size: 20px;
        height: 80px;
    }

    footer {
        position: absolute;
        bottom: 0;
        font-size: 12px;
        height: 50px;
    }

    #download_form, #download_info {
        @extend .flex-column-center;
        height: calc(100% - 80px - 50px - 20px); // 100% - header - footer - padding
        justify-content: flex-start;
        padding: 10px;
    }

    #download_form {
        #download_btn {
            background: $sea url(../img/play.svg) no-repeat left 10px center;
            background-size: 25px;
            padding: 10px 20px 10px 50px;
        }
    }

    #download_info {
        display: none;

        .progress {
            width: 90%;
            height: 30px;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            margin: 10px;

            .bar, .percent {
                @extend .flex-center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .bar {
                width: 0;
                background: green;
            }
        }
        .controls {
            @extend .flex-center;
            #resume_download {
                display: none;
            }
        }
    }

    ul.filelist, #filelist_toggle {
        width: 90%;
    }

    ul.filelist {
        display: none;
        list-style: none;
        li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
        }
    }
}